
.pop-up {
    transform: scale(0.3); /* ย่อก่อนเริ่ม */
    opacity: 1;
    transition: transform 0.7s ease-out, opacity 1s ease-out;
}

.pop-up.show1 {
    transform: scale(1); /* ขยายเมื่อแสดง */
    opacity: 1;
}
